.page-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

}

.page-header h1{

font-size:38px;

font-weight:700;

color:#0f172a;

margin-bottom:8px;

}

.page-header p{

color:#64748b;

font-size:16px;

}

.primary-btn{

display:flex;

align-items:center;

gap:10px;

padding:15px 28px;

border:none;

border-radius:16px;

background:linear-gradient(
135deg,
#2563eb,
#4f46e5);

color:white;

font-weight:600;

cursor:pointer;

transition:.35s;

box-shadow:0 12px 30px rgba(37,99,235,.25);

}

.primary-btn:hover{

transform:translateY(-4px);

}