.profile-card{

    background:white;

    padding:40px;

    border-radius:25px;

    text-align:center;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.profile-card img{

    width:150px;

    border-radius:50%;

    margin-bottom:20px;

}

.role{

    color:#64748b;

}

.info{

    text-align:left;

    margin-top:30px;

}